<div id="<%= dom_id game %>">
  <div>
    <strong>Board state:</strong>
    <%= game.board_state %>
  </div>

  <div>
    <strong>White player:</strong>
    <%= game.white_player %>
  </div>

  <div>
    <strong>Black player:</strong>
    <%= game.black_player %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= game.status %>
  </div>

</div>
